@model LightningOffer.Models.Inspection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.As_Is)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.As_Is)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buyer_Inspection_Window)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buyer_Inspection_Window)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller_Repair_Request_Response_Window)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller_Repair_Request_Response_Window)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Best_Request_Window)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last_Best_Request_Window)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contingent_On_Survey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contingent_On_Survey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Inspection_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
