@model LightningOffer.Models.Financial


@{
    ViewData["Title"] = "Create";
}

<h1>Financing [icon]</h1>
<h4>Progress bar 3 here 3/x.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>What's the purchase price?</h5>
            <div class="form-group">
                <!--<label asp-for="Purchase_Price" class="control-label"></label>-->
                <input asp-for="Purchase_Price" class="form-control" />
                <span asp-validation-for="Purchase_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>How much is the earnest money deposit?</h5>
                <div class="form-check" id="EMD">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="500" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $500
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="1000" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $1000
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="2500" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $2500
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="5000" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $5000
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h5>Where is the earnest money deposit being held?</h5>
                <div class="form-check" id="EMD_Holding">                    
                    <label class="form-check-label control-label" for="EMD_Holding">
                        <input class="form-check-input" type="radio" name="EMD_Holding" value="ListingBroker" id="EMD_Holding" asp-for="EMD_With_ListingBroker" /> @Html.DisplayNameFor(model => model.EMD_With_ListingBroker)
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="EMD_Holding">
                        <input class="form-check-input" type="radio" name="EMD_Holding" value="SellingBroker" id="EMD_Holding" asp-for="EMD_With_SellingBroker" /> @Html.DisplayNameFor(model => model.EMD_With_SellingBroker)
                    </label>
                </div>
            </div>  
            <div class="form-group">
                <h5>Where is the down payment coming from?</h5>
                <div class="form-check" id="DownPaymentSource">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Cash" asp-for="DownPaymentSource" />Cash
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Equity_Line" asp-for="DownPaymentSource" />Equity Line
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Gift" asp-for="DownPaymentSource" />Gift
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Other" asp-for="DownPaymentSource" />Other
                    </label>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conventional" /> @Html.DisplayNameFor(model => model.Conventional)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FHA" /> @Html.DisplayNameFor(model => model.FHA)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VA" /> @Html.DisplayNameFor(model => model.VA)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fixed_Rate" /> @Html.DisplayNameFor(model => model.Fixed_Rate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Loan_Length" class="control-label"></label>
                <input asp-for="Loan_Length" class="form-control" />
                <span asp-validation-for="Loan_Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interest_Rate" class="control-label"></label>
                <input asp-for="Interest_Rate" class="form-control" />
                <span asp-validation-for="Interest_Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ARM_Limits" class="control-label"></label>
                <input asp-for="ARM_Limits" class="form-control" />
                <span asp-validation-for="ARM_Limits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buyer_Loan_Application_Start" class="control-label"></label>
                <input asp-for="Buyer_Loan_Application_Start" class="form-control" />
                <span asp-validation-for="Buyer_Loan_Application_Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
          

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
