@model IEnumerable<LightningOffer.Models.FuelPropane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_Owned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_Leased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_Will_Remain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_NotRemain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_NotApplicable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_Owned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_Leased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_Will_Remain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_NotRemain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_NotApplicable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuelPropane_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FuelPropane_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FuelPropane_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
