@model IEnumerable<LightningOffer.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MlsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeedBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Page)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLotNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURLs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MlsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeedBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubLotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURLs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Property_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Property_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Property_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
