@model LightningOffer.Models.Closing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Closing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specific_Closing_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specific_Closing_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closing_Window)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closing_Window)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closing_Window_Soonest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closing_Window_Soonest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closing_Window_Latest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closing_Window_Latest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keys_at_Closing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keys_at_Closing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keys_after_Closing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keys_after_Closing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active_Lease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active_Lease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buyer_Title_Insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buyer_Title_Insurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other_Provisions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other_Provisions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Closing_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
