@model LightningOffer.Models.Appliance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appliance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refrigerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refrigerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoveRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoveRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishWasher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishWasher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Microwave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Microwave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClothesWasher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClothesWasher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClothesDryer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClothesDryer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Appliance_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
