@model IEnumerable<LightningOffer.Models.Appliance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refrigerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoveRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishWasher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Microwave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothesWasher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothesDryer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refrigerator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoveRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishWasher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Microwave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothesWasher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothesDryer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Appliance_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Appliance_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Appliance_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
