@page
@model WinningOffer.Views.Contracts.AppliancesModel

@{
    ViewData["Title"] = "Appliances";
}

<h1>Appliances</h1>

<h4>Progress bar goes here 2/x.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.Refrigerator" class="control-label"></label>
                <input asp-for="Contract.Refrigerator" class="form-control" />
                <span asp-validation-for="Contract.Refrigerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.StoveRange" class="control-label"></label>
                <input asp-for="Contract.StoveRange" class="form-control" />
                <span asp-validation-for="Contract.StoveRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.DishWasher" class="control-label"></label>
                <input asp-for="Contract.DishWasher" class="form-control" />
                <span asp-validation-for="Contract.DishWasher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Microwave" class="control-label"></label>
                <input asp-for="Contract.Microwave" class="form-control" />
                <span asp-validation-for="Contract.Microwave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ClothesWasher" class="control-label"></label>
                <input asp-for="Contract.ClothesWasher" class="form-control" />
                <span asp-validation-for="Contract.ClothesWasher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ClothesDryer" class="control-label"></label>
                <input asp-for="Contract.ClothesDryer" class="form-control" />
                <span asp-validation-for="Contract.ClothesDryer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Other" class="control-label"></label>
                <input asp-for="Contract.Other" class="form-control" />
                <span asp-validation-for="Contract.Other" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_Owned" /> @Html.DisplayNameFor(model => model.Contract.Propane_Owned)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_Leased" /> @Html.DisplayNameFor(model => model.Contract.Propane_Leased)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_Will_Remain" /> @Html.DisplayNameFor(model => model.Contract.Propane_Will_Remain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_NotRemain" /> @Html.DisplayNameFor(model => model.Contract.Propane_NotRemain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_NotApplicable" /> @Html.DisplayNameFor(model => model.Contract.Propane_NotApplicable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
