@page
@model WinningOffer.Views.Contracts.AppliancesModel

@{
    ViewData["Title"] = "Appliances";
}

<h1>Appliances</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.CreatedDate" class="control-label"></label>
                <input asp-for="Contract.CreatedDate" class="form-control" />
                <span asp-validation-for="Contract.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ListCompany" class="control-label"></label>
                <input asp-for="Contract.ListCompany" class="form-control" />
                <span asp-validation-for="Contract.ListCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ListAgent" class="control-label"></label>
                <input asp-for="Contract.ListAgent" class="form-control" />
                <span asp-validation-for="Contract.ListAgent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ListAgentPhone" class="control-label"></label>
                <input asp-for="Contract.ListAgentPhone" class="form-control" />
                <span asp-validation-for="Contract.ListAgentPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.MlsNumber" class="control-label"></label>
                <input asp-for="Contract.MlsNumber" class="form-control" />
                <span asp-validation-for="Contract.MlsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Address" class="control-label"></label>
                <input asp-for="Contract.Address" class="form-control" />
                <span asp-validation-for="Contract.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.City" class="control-label"></label>
                <input asp-for="Contract.City" class="form-control" />
                <span asp-validation-for="Contract.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.PostalCode" class="control-label"></label>
                <input asp-for="Contract.PostalCode" class="form-control" />
                <span asp-validation-for="Contract.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Country" class="control-label"></label>
                <input asp-for="Contract.Country" class="form-control" />
                <span asp-validation-for="Contract.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.DeedBook" class="control-label"></label>
                <input asp-for="Contract.DeedBook" class="form-control" />
                <span asp-validation-for="Contract.DeedBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Page" class="control-label"></label>
                <input asp-for="Contract.Page" class="form-control" />
                <span asp-validation-for="Contract.Page" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.BlockNum" class="control-label"></label>
                <input asp-for="Contract.BlockNum" class="form-control" />
                <span asp-validation-for="Contract.BlockNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.LotNum" class="control-label"></label>
                <input asp-for="Contract.LotNum" class="form-control" />
                <span asp-validation-for="Contract.LotNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.SubLotNum" class="control-label"></label>
                <input asp-for="Contract.SubLotNum" class="form-control" />
                <span asp-validation-for="Contract.SubLotNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.County" class="control-label"></label>
                <input asp-for="Contract.County" class="form-control" />
                <span asp-validation-for="Contract.County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Refrigerator" class="control-label"></label>
                <input asp-for="Contract.Refrigerator" class="form-control" />
                <span asp-validation-for="Contract.Refrigerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.StoveRange" class="control-label"></label>
                <input asp-for="Contract.StoveRange" class="form-control" />
                <span asp-validation-for="Contract.StoveRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.DishWasher" class="control-label"></label>
                <input asp-for="Contract.DishWasher" class="form-control" />
                <span asp-validation-for="Contract.DishWasher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Microwave" class="control-label"></label>
                <input asp-for="Contract.Microwave" class="form-control" />
                <span asp-validation-for="Contract.Microwave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ClothesWasher" class="control-label"></label>
                <input asp-for="Contract.ClothesWasher" class="form-control" />
                <span asp-validation-for="Contract.ClothesWasher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ClothesDryer" class="control-label"></label>
                <input asp-for="Contract.ClothesDryer" class="form-control" />
                <span asp-validation-for="Contract.ClothesDryer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Other" class="control-label"></label>
                <input asp-for="Contract.Other" class="form-control" />
                <span asp-validation-for="Contract.Other" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_Owned" /> @Html.DisplayNameFor(model => model.Contract.Propane_Owned)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_Leased" /> @Html.DisplayNameFor(model => model.Contract.Propane_Leased)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_Will_Remain" /> @Html.DisplayNameFor(model => model.Contract.Propane_Will_Remain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_NotRemain" /> @Html.DisplayNameFor(model => model.Contract.Propane_NotRemain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Propane_NotApplicable" /> @Html.DisplayNameFor(model => model.Contract.Propane_NotApplicable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Purchase_Price" class="control-label"></label>
                <input asp-for="Contract.Purchase_Price" class="form-control" />
                <span asp-validation-for="Contract.Purchase_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.EMD" class="control-label"></label>
                <input asp-for="Contract.EMD" class="form-control" />
                <span asp-validation-for="Contract.EMD" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Cash" /> @Html.DisplayNameFor(model => model.Contract.Cash)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.LineOfEquity" /> @Html.DisplayNameFor(model => model.Contract.LineOfEquity)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Gift" /> @Html.DisplayNameFor(model => model.Contract.Gift)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Other_Financing" /> @Html.DisplayNameFor(model => model.Contract.Other_Financing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Conventional" /> @Html.DisplayNameFor(model => model.Contract.Conventional)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.FHA" /> @Html.DisplayNameFor(model => model.Contract.FHA)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.VA" /> @Html.DisplayNameFor(model => model.Contract.VA)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Fixed_Rate" /> @Html.DisplayNameFor(model => model.Contract.Fixed_Rate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Loan_Length" class="control-label"></label>
                <input asp-for="Contract.Loan_Length" class="form-control" />
                <span asp-validation-for="Contract.Loan_Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Interest_Rate" class="control-label"></label>
                <input asp-for="Contract.Interest_Rate" class="form-control" />
                <span asp-validation-for="Contract.Interest_Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ARM_Limits" class="control-label"></label>
                <input asp-for="Contract.ARM_Limits" class="form-control" />
                <span asp-validation-for="Contract.ARM_Limits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Buyer_Loan_Application_Start" class="control-label"></label>
                <input asp-for="Contract.Buyer_Loan_Application_Start" class="form-control" />
                <span asp-validation-for="Contract.Buyer_Loan_Application_Start" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.EMD_With_ListingBroker" /> @Html.DisplayNameFor(model => model.Contract.EMD_With_ListingBroker)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.EMD_With_SellingBroker" /> @Html.DisplayNameFor(model => model.Contract.EMD_With_SellingBroker)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Lender_Appraisal_Required" class="control-label"></label>
                <input asp-for="Contract.Lender_Appraisal_Required" class="form-control" />
                <span asp-validation-for="Contract.Lender_Appraisal_Required" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Buyer_Appraisal_Required" class="control-label"></label>
                <input asp-for="Contract.Buyer_Appraisal_Required" class="form-control" />
                <span asp-validation-for="Contract.Buyer_Appraisal_Required" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.No_Appraisal_Required" class="control-label"></label>
                <input asp-for="Contract.No_Appraisal_Required" class="form-control" />
                <span asp-validation-for="Contract.No_Appraisal_Required" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.HW" /> @Html.DisplayNameFor(model => model.Contract.HW)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.HW_Price" class="control-label"></label>
                <input asp-for="Contract.HW_Price" class="form-control" />
                <span asp-validation-for="Contract.HW_Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Seller_To_Pay_HW" /> @Html.DisplayNameFor(model => model.Contract.Seller_To_Pay_HW)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Buyer_To_Pay_HW" /> @Html.DisplayNameFor(model => model.Contract.Buyer_To_Pay_HW)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.New_Construction_HW" /> @Html.DisplayNameFor(model => model.Contract.New_Construction_HW)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Buyer_Waves_Right_To_HW" /> @Html.DisplayNameFor(model => model.Contract.Buyer_Waves_Right_To_HW)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Buyer_To_Purchase_HW_Later" /> @Html.DisplayNameFor(model => model.Contract.Buyer_To_Purchase_HW_Later)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Seller_Disclosure_Recieved" /> @Html.DisplayNameFor(model => model.Contract.Seller_Disclosure_Recieved)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.No_Lead_Paint" /> @Html.DisplayNameFor(model => model.Contract.No_Lead_Paint)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Buyer_Waives_Lead_Paint_Inspection" /> @Html.DisplayNameFor(model => model.Contract.Buyer_Waives_Lead_Paint_Inspection)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Contingent_On_Lead_Paint" /> @Html.DisplayNameFor(model => model.Contract.Contingent_On_Lead_Paint)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Lead_Paint_Inspection_Window" class="control-label"></label>
                <input asp-for="Contract.Lead_Paint_Inspection_Window" class="form-control" />
                <span asp-validation-for="Contract.Lead_Paint_Inspection_Window" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Seller_Lead_Paint_Response_Window" class="control-label"></label>
                <input asp-for="Contract.Seller_Lead_Paint_Response_Window" class="form-control" />
                <span asp-validation-for="Contract.Seller_Lead_Paint_Response_Window" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.As_Is" /> @Html.DisplayNameFor(model => model.Contract.As_Is)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Buyer_Inspection_Window" class="control-label"></label>
                <input asp-for="Contract.Buyer_Inspection_Window" class="form-control" />
                <span asp-validation-for="Contract.Buyer_Inspection_Window" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Seller_Repair_Request_Response_Window" class="control-label"></label>
                <input asp-for="Contract.Seller_Repair_Request_Response_Window" class="form-control" />
                <span asp-validation-for="Contract.Seller_Repair_Request_Response_Window" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Last_Best_Request_Window" class="control-label"></label>
                <input asp-for="Contract.Last_Best_Request_Window" class="form-control" />
                <span asp-validation-for="Contract.Last_Best_Request_Window" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Contingent_On_Survey" /> @Html.DisplayNameFor(model => model.Contract.Contingent_On_Survey)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Specific_Closing_Date" class="control-label"></label>
                <input asp-for="Contract.Specific_Closing_Date" class="form-control" />
                <span asp-validation-for="Contract.Specific_Closing_Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Closing_Window" /> @Html.DisplayNameFor(model => model.Contract.Closing_Window)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Closing_Window_Soonest" class="control-label"></label>
                <input asp-for="Contract.Closing_Window_Soonest" class="form-control" />
                <span asp-validation-for="Contract.Closing_Window_Soonest" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Closing_Window_Latest" /> @Html.DisplayNameFor(model => model.Contract.Closing_Window_Latest)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Keys_at_Closing" /> @Html.DisplayNameFor(model => model.Contract.Keys_at_Closing)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Keys_after_Closing" class="control-label"></label>
                <input asp-for="Contract.Keys_after_Closing" class="form-control" />
                <span asp-validation-for="Contract.Keys_after_Closing" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Active_Lease" /> @Html.DisplayNameFor(model => model.Contract.Active_Lease)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Buyer_Title_Insurance" /> @Html.DisplayNameFor(model => model.Contract.Buyer_Title_Insurance)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Other_Provisions" class="control-label"></label>
                <input asp-for="Contract.Other_Provisions" class="form-control" />
                <span asp-validation-for="Contract.Other_Provisions" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.HOA_Addendum" /> @Html.DisplayNameFor(model => model.Contract.HOA_Addendum)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Delayed_Possession_Addendum" /> @Html.DisplayNameFor(model => model.Contract.Delayed_Possession_Addendum)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Contingent_Addendum" /> @Html.DisplayNameFor(model => model.Contract.Contingent_Addendum)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.Other_Addendum" /> @Html.DisplayNameFor(model => model.Contract.Other_Addendum)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ImageURLs" class="control-label"></label>
                <input asp-for="Contract.ImageURLs" class="form-control" />
                <span asp-validation-for="Contract.ImageURLs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
