@model IEnumerable<WinningOffer.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyerSignedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerSignedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListAgentSignedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingAgentSignedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerSignedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerSignedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListAgentSignedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingAgentSignedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Contract_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Contract_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Contract_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
