@model IEnumerable<WinningOffer.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MlsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeedBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Page)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLotNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refrigerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoveRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishWasher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Microwave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothesWasher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothesDryer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_Owned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_Leased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_Will_Remain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_NotRemain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propane_NotApplicable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineOfEquity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other_Financing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conventional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FHA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixed_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan_Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interest_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ARM_Limits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_Loan_Application_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMD_With_ListingBroker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMD_With_SellingBroker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lender_Appraisal_Required)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_Appraisal_Required)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_Appraisal_Required)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HW_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller_To_Pay_HW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_To_Pay_HW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.New_Construction_HW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_Waves_Right_To_HW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_To_Purchase_HW_Later)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller_Disclosure_Recieved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_Lead_Paint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_Waives_Lead_Paint_Inspection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contingent_On_Lead_Paint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lead_Paint_Inspection_Window)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller_Lead_Paint_Response_Window)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.As_Is)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_Inspection_Window)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller_Repair_Request_Response_Window)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Best_Request_Window)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contingent_On_Survey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specific_Closing_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closing_Window)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closing_Window_Soonest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closing_Window_Latest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keys_at_Closing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keys_after_Closing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active_Lease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyer_Title_Insurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other_Provisions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HOA_Addendum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delayed_Possession_Addendum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contingent_Addendum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other_Addendum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURLs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MlsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeedBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubLotNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refrigerator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoveRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishWasher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Microwave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothesWasher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothesDryer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_Owned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_Leased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_Will_Remain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_NotRemain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propane_NotApplicable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineOfEquity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other_Financing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conventional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fixed_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loan_Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ARM_Limits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_Loan_Application_Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMD_With_ListingBroker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMD_With_SellingBroker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lender_Appraisal_Required)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_Appraisal_Required)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_Appraisal_Required)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HW_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller_To_Pay_HW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_To_Pay_HW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.New_Construction_HW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_Waves_Right_To_HW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_To_Purchase_HW_Later)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller_Disclosure_Recieved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_Lead_Paint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_Waives_Lead_Paint_Inspection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contingent_On_Lead_Paint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lead_Paint_Inspection_Window)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller_Lead_Paint_Response_Window)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.As_Is)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_Inspection_Window)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller_Repair_Request_Response_Window)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Best_Request_Window)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contingent_On_Survey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specific_Closing_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closing_Window)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closing_Window_Soonest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closing_Window_Latest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keys_at_Closing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keys_after_Closing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active_Lease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer_Title_Insurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other_Provisions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOA_Addendum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delayed_Possession_Addendum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contingent_Addendum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other_Addendum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURLs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
